@use './../../partials/abstracts/variables' as *;
@use './../../partials/base/reset' as *;
@use './../../partials/base/typography' as *;

.events-header {
    color: $bg-colour;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__container {
        width: 100%;
    }

    &__title-box {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 1rem 0;
    }

    &__title {
        font: $h2-font;
        font-weight: 600;
        text-transform: uppercase;
        margin-left: 1rem;
    }

    &__create {
        color: #F3EFF5;
        font: $p-font;
        text-align: center;
        text-decoration: none;
        background: #7a2efd;
        border-radius: 20px;
        padding: 0.75rem 2.5rem;        
        margin: 1rem 0;
        width: 186px;   

        &:hover {
            box-shadow: inset 5px 5px 10px #5420af, inset -5px -5px 10px #a03cff;
        }
    }

    &__headings{
        width: 100%;
        display: flex;
        padding-bottom: 0.5rem;
        border-bottom: 2px solid $bg-colour;
    }

    &__label {
        font: $h3-font;

        &--blank {
            width: 5%;
        }

        &--name {
            width: 32.5%;
        }

        &--date {
            width: 22.5%;
        }

        &--time {
            width: 16.25%;
        }

        &--edit {
            width: 7%;
            text-align: right;
            margin-right: 1.5rem;
        }
    }
}