@use './../../partials/base/typography' as *;
@use './../../partials/abstracts/variables' as *;
@use './../../partials/abstracts/mixins' as *;

.screen {
    background: $dark;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &__header {
        height: 2vh;
        z-index: 1;
    }

    &__footer {
        height: 2vh;
    }
}

.map-container {
    display: flex;
    gap: 1rem;
}

.map {
    width: calc(100% - 350px);
    height: 96vh;
}

.cluster {
    @include subtitle1;
    color: #fff;
    padding: 1rem;
    border-radius: 50%;
    background: #6621fd;
    box-shadow:  3px 3px 5px #571cd7, -3px -3px 5px #7526ff;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.map {
    &__marker {
        position: relative;
        display: inline-block;
        width: 0;
        height: 0;
        
        margin-left: 18px;
        margin-right: 18px;
        margin-bottom: 24px;
        
        border-right:  6px solid transparent;
        border-bottom: 14px  solid $pink;
        border-left:   6px solid transparent;

        font-size: 24px;
        cursor: pointer;

        &:before, &:after {
            content: '';
            
            display: block;
            width: 0;
            height: 0;
            
            position: absolute;
            top: 12px;
            left: -20px;
          
            border-right:  20px solid transparent;
            border-bottom: 14px  solid $pink;
            border-left:   20px solid transparent;
          
            transform: rotate(-35deg);
          }
          
          &:after {  
            transform: rotate(35deg);
          }

    }
}