@use './../../partials/abstracts/variables' as *;
@use './../../partials/base/reset' as *;
@use './../../partials/base/typography' as *;

.event {
    font: $p-font;
    color: #6A00F5;
    padding: 0.5rem;
    border-radius: 14px;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    width: 100%;

    &__icon {
        width: 5%;
    }

    &__number {
        width: 5%;
    }

    &__name {
        font-weight: 800;
        width: 32.5%
    }

    &__date {
        width: 22.5%;
        font-weight: 450;
    }

    &__start {
        width: 16.25%
    }

    &__end {
        width: 16.25%
    }

    &__edit {
        width: 7%;
        display: flex;
        justify-content: flex-end;
    }

    &__edit-box {
        width: 2rem;;
        height: 2rem;
        border-radius: 4px;
        margin-right: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        
        transition: all 0.3s linear;

        &:hover {
            background: #6A00F5;
            transition: all 0.3s linear;
            .event__edit-icon {
                fill: $white;
            }
        }
    }

    &__edit-icon {
        width: 30px;
        height: 30px;
        padding: 0.25rem;
        fill: #6A00F5;
    }
}
