@use './../../partials/base/typography' as *;
@use './../../partials/abstracts/variables' as *;
@use './../../partials/abstracts/mixins' as *;

.events-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        @include headline3;
        color: $white;
        margin-bottom: 2rem;
    }

    &__create {
        @include button;
        margin-bottom: 3rem;
    }
}

.event-list{
    padding: 0 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem 2rem;
}

