@use './../../partials/base/reset' as *;
@use './../../partials/base/typography' as *;
@use './../../partials/abstracts/variables' as *;

.event-list{
    padding: 1rem;
}

.custom-shape-divider-bottom-1624138048 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1624138048 svg {
    position: relative;
    display: block;
    width: calc(187% + 1.3px);
    height: 174px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1624138048 .shape-fill {
    fill: #7A2EFD;
}