@use './../../partials/abstracts/variables' as *;
@use './../../partials/base/typography' as *;
@use './../../partials/abstracts/mixins' as *;

.must-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;

    &__text {
        @include headline5;
        color: $white;
        margin-bottom: 2rem;
    }

    &__link {
        @include button;
        @include button-secondary;
        width: 120px;
    }
}

.profile {
    background: $bg-colour;
    min-height: 100vh;

    &__card {
        border: 2px solid red;
        border-radius: 20px;
    }

    &__events-container {
        // background: #E3D9E7;
        background: #ECE6EF;
        border-radius: 20px;
        margin: 0 1rem;
        // background: linear-gradient(145deg, #f3e8f7, #ccc3d0);
        // box-shadow:  5px 5px 10px #9d969f, -5px -5px 10px #ffffff;
    }
}