@use './variables' as *;
@use './../base/typography' as *;

@mixin headline1 {
  font: $headline1;
  letter-spacing: -1.5px;
}

@mixin headline2 {
  font: $headline2;
  letter-spacing: -0.5px;
}

@mixin headline3 {
  font: $headline3;
  letter-spacing: 0px;
}

@mixin headline4 {
  font: $headline4;
  letter-spacing: 0.25px;
}

@mixin headline5 {
  font: $headline5;
  letter-spacing: 0px;
}

@mixin headline6 {
  font: $headline6;
  letter-spacing: 0.15px;
}

@mixin subtitle1 {
  font: $subtitle1;
  letter-spacing: 0.15px;
}

@mixin subtitle2 {
  font: $subtitle2;
  letter-spacing: 0.1px;
}

@mixin body1 {
  font: $body1;
  letter-spacing: 0.5px;
}

@mixin body2 {
  font: $body2;
  letter-spacing: 0.25px;
}

@mixin button-font {
  font: $button-font;
  letter-spacing: 1.25px;
  text-transform: uppercase;
}

@mixin caption {
  font: $caption-font;
  letter-spacing: 0.4px;
}

@mixin overline {
  font: $overline-font;
  letter-spacing: 1.5px;
}






@mixin button {
  @include button-font;
  color: $light-grey;
  text-align: center;
  text-decoration: none;
  padding: 1rem 1.5rem;
  border-radius: 20px;
  background: #340078;
  box-shadow:  5px 5px 10px #150030, -5px -5px 10px #5300c0;
  border: none;
 
    &:hover {
      background: #242424;
      box-shadow: inset 7px 7px 14px #0e0e0e, inset -7px -7px 14px #3a3a3a;
    }
}


  // border-image: linear-gradient(90deg, rgba(102,33,253,1) 0%, rgba(122,46,253,1) 16%, rgba(142,60,253,1) 32%, rgba(181,86,254,1) 48%, rgba(201,99,254,1) 64%, rgba(221,113,254,1) 80%, rgba(241,126,254,1) 100%) 1;         
    // border-width: 3px;
    // border-style: solid;
    // background: $bg-colour;
    // box-shadow:  3px 3px 7px #150031,-3px -3px 7px #2b0063;