@use './variables' as *;
@use './../base/typography' as *;

@mixin headline1 {
  font: $headline1;
  letter-spacing: -1.5px;
}

@mixin headline2 {
  font: $headline2;
  letter-spacing: -0.5px;
}

@mixin headline3 {
  font: $headline3;
  letter-spacing: 0px;
}

@mixin headline4 {
  font: $headline4;
  letter-spacing: 0.25px;
}

@mixin headline5 {
  font: $headline5;
  letter-spacing: 0px;
}

@mixin headline6 {
  font: $headline6;
  letter-spacing: 0.15px;
}

@mixin subtitle1 {
  font: $subtitle1;
  letter-spacing: 0.15px;
}

@mixin subtitle2 {
  font: $subtitle2;
  letter-spacing: 0.1px;
}

@mixin body1 {
  font: $body1;
  letter-spacing: 0.5px;
}

@mixin body2 {
  font: $body2;
  letter-spacing: 0.25px;
}

@mixin button-font {
  font: $button-font;
  letter-spacing: 1.25px;
  text-transform: uppercase;
}

@mixin caption {
  font: $caption-font;
  letter-spacing: 0.4px;
}

@mixin overline {
  font: $overline-font;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

@mixin flat-neumorphic {
  background: $dark;
  box-shadow:  13px 13px 26px #141414, -13px -13px 26px #343434;
}

@mixin card {
  background: $dark;
  box-shadow:  6px 6px 12px #141414, -6px -6px 12px #343434;
  width: 600px;
  padding: 1rem;
  border-radius: 60px;
  border: 1px solid rgba(7, 7, 7, 0.05);
  margin: 1rem auto;
  display: flex;
  justify-content: center;  
}

@mixin form {
  width: 100%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin form-wrapper {
  display: flex;
  margin-bottom: 1.5rem;
}

@mixin form-box {
  display: flex;
  align-items: center;
  width: 40%;
  margin-top: 0.5rem;
}

@mixin form-row {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@mixin form-label {
  @include overline;
  color: $white;
  margin-bottom: 0.25rem;
}

@mixin input {
  @include body1;
  color: $white;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  margin-bottom: 1.5rem;
  background: #242424;
  box-shadow: inset 4px 4px 8px #0e0e0e, inset -4px -4px 8px #3a3a3a;
  border: 1px solid rgba(245, 240 ,246, 0.05);
}

@mixin form-actions {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

@mixin button {
  @include button-font;
  color: $light-grey;
  text-align: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 10px;
  background: linear-gradient(145deg, #202020, #272727);
  box-shadow:  4px 4px 8px #0e0e0e, -4px -4px 8px #3a3a3a;
  cursor: pointer;

  &:hover {
    background: #242424;
    box-shadow: inset 4px 4px 8px #0e0e0e, inset -4px -4px 8px #3a3a3a;
  }
}

@mixin form-button {
  @include button;
  margin-left: 1.5rem;

  &:disabled {
    box-shadow: none;
    opacity: 0.3;

    &:hover {
        box-shadow: inset 7px 7px 14px #0e0e0e, inset -7px -7px 14px #3a3a3a;
    }
  }
}

@mixin button-cancel {
  @include button;
  background: $dark;
  border: 1px solid rgba(7, 7, 7, 0.3);
  box-shadow: none;
}


@mixin button-large {
  @include button;
  padding: 1rem 1.5rem;
  background: linear-gradient(145deg, #202020, #272727);
  box-shadow:  7px 7px 14px #141414, -7px -7px 14px #343434;
 
    &:hover {
      background: $dark;
      box-shadow: inset 7px 7px 14px #0e0e0e, inset -7px -7px 14px #3a3a3a;
    }
}

@mixin button-secondary {
  background: linear-gradient(90deg, rgba(102,33,253,1) 0%, rgba(122,46,253,1) 16%, rgba(142,60,253,1) 32%, rgba(181,86,254,1) 50%, rgba(201,99,254,1) 68%, rgba(221,113,254,1) 84%, rgba(241,126,254,1) 100%);
  border: 1px solid $mid-colour;
  
  &:hover {
      background: linear-gradient(90deg, rgba(102,33,253,1) 0%, rgba(122,46,253,1) 16%, rgba(142,60,253,1) 32%, rgba(181,86,254,1) 50%, rgba(201,99,254,1) 68%, rgba(221,113,254,1) 84%, rgba(241,126,254,1) 100%);
      background-clip: text;
      color: transparent;
  }
}

@keyframes spin {
  from {
  transform: rotateY(0deg);
  color: $white;
  }
  
  to {
  transform: rotateY(180deg);
  background: linear-gradient(90deg, rgba(102,33,253,1) 0%, rgba(122,46,253,1) 16%, rgba(142,60,253,1) 32%, rgba(181,86,254,1) 50%, rgba(201,99,254,1) 68%, rgba(221,113,254,1) 84%, rgba(241,126,254,1) 100%);
  background-clip: text;
  color: transparent;
  }
}