$bg-colour: #20004a;
$white: #F3EFF5;
$gradient: linear-gradient(90deg, rgba(102,33,253,1) 0%, rgba(122,46,253,1) 16%, rgba(142,60,253,1) 32%, rgba(181,86,254,1) 50%, rgba(201,99,254,1) 68%, rgba(221,113,254,1) 84%, rgba(241,126,254,1) 100%);

$black: #070707;
$dark: #242424;
$silver: #c4c6c7;
$light-grey: #f5f0f6;
$indigo: #6621fd;
$violet: #8e3cfd;
$mid-colour: #b556fe;
$heliotrope: #c963fe;
$pink: #f17efe;