@use './../../partials/base/reset' as *;
@use './../../partials/base/typography' as *;
@use './../../partials/abstracts/variables' as *;
@use './../../partials/abstracts/mixins' as *;

.header {
    background: $bg-colour;
    padding: 1rem;
    padding-bottom: 2rem;

    &__container {
        padding: 2rem 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 20px;
        background: #340078;
        box-shadow:  5px 5px 10px #150030, -5px -5px 10px #5300c0;
    }
    &__logo {
        max-width: 200px;
    }

    &__nav {
        display: flex;
        justify-content: flex-end;
    }

    &__link {
        font: $p-font;
        font-weight: 600;
        margin-left: 1.5rem; 
        @include button;

        &--active {
            background: #340078;
            box-shadow: inset 5px 5px 10px #150030, inset -5px -5px 10px #5300c0;
        }

        &--home {
            width: 220px;
        }
    }
}