@use './../../partials/base/reset' as *;
@use './../../partials/abstracts/variables' as *;
@use './../../partials/base/typography' as *;
@use './../../partials/abstracts/mixins' as *;

.home {
    background-color: $dark;
    color: $white;
    padding: 2rem 1rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &__container {
        width: 500px;
        border-radius: 13%;
        background: linear-gradient(145deg, #272727, #202020);
        background: $dark;
        box-shadow:  13px 13px 26px #141414, -13px -13px 26px #343434;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3rem 2rem;
    }

    &__logo {
        max-width: 332px;
        margin-bottom: 1rem;
    }

    &__slogan {
        margin: 1rem 0;
        @include headline5;
    }

    &__info {
        font: $p-font;
        font-weight: 300;
        position: relative;
        margin:1rem 0;

        &::before {
            content: '';
            position: absolute;
            background: linear-gradient(90deg, rgba(102,33,253,1) 0%, rgba(122,46,253,1) 33%, rgba(142,60,253,1) 66%, rgba(181,86,254,1) 100%);
            height: 2px;
            width: 38%;
            top: 50%;
            left: -42%;
        }

        &::after {
            content: '';
            position: absolute;
            background: linear-gradient(90deg, rgba(181,86,254,1) 0%, rgba(201,99,254,1) 33%, rgba(221,113,254,1) 66%, rgba(241,126,254,1) 100%);
            height: 2px;
            width: 38%;
            top: 50%;
            right: -42%;
        }
    }

    &__button {
        @include button;
        width: 252px;
        border-radius: 10px;
         margin: 1rem 0;
        background: linear-gradient(145deg, #202020, #272727);
        box-shadow:  7px 7px 14px #141414, -7px -7px 14px #343434;
        // &:hover {
            // background: #20004a;
            // box-shadow: inset 6px 6px 7px #110026, inset -6px -6px 7px #2f006e;
        // }

        &--secondary {
            background: linear-gradient(90deg, rgba(102,33,253,1) 0%, rgba(122,46,253,1) 16%, rgba(142,60,253,1) 32%, rgba(181,86,254,1) 50%, rgba(201,99,254,1) 68%, rgba(221,113,254,1) 84%, rgba(241,126,254,1) 100%);
            border: 1px solid $mid-colour;
            
            &:hover {
                background: linear-gradient(90deg, rgba(102,33,253,1) 0%, rgba(122,46,253,1) 16%, rgba(142,60,253,1) 32%, rgba(181,86,254,1) 50%, rgba(201,99,254,1) 68%, rgba(221,113,254,1) 84%, rgba(241,126,254,1) 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
}