@use './../../partials/abstracts/variables' as *;
@use './../../partials/base/typography' as *;
@use './../../partials/abstracts/mixins' as *;

.drawer {
    height: 96vh;
    max-width: 350px;
    overflow-y: scroll;
    position: relative;
    background: $dark;

    &__header {
        padding: 1rem 1rem 0.5rem 0.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: sticky;
        top: 0;
        left: 0;
        background: $dark;
    }

    &__logo {
        width: 200px;
        margin-bottom: 1rem;;
    }

    &__search {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-items: center;
    }

    &__search-label {
        @include form-label;
        margin: 0 0 0.5rem 0.25rem;
    }

    &__search-input {
        @include input;
        width: 300px;
    }

    &__events {
        padding: 0.5rem 1rem 1rem 0.5rem;
    }

    &__event {
        color: $light-grey;
        padding: 0.5rem 0.5rem 0.5rem 0.75rem;
        margin-bottom: 1rem;
        border-radius: 10px;
        background: linear-gradient(145deg, #272727, #202020);
        box-shadow:  5px 5px 10px #0e0e0e, -5px -5px 10px #3a3a3a;
        cursor: pointer;

        &:hover {
            transform: translateX(0.75rem);
            color: $pink;
            background: #242424;
            box-shadow: inset 5px 5px 10px #0e0e0e, inset -5px -5px 10px #3a3a3a;
        }
    }

    &__event-name {
        @include subtitle1;
        text-decoration: underline;
        margin-bottom: 0.5rem;
        color: $pink;
    }

    &__event-location {
        @include subtitle2;
        color: $light-grey;
        margin-bottom: 0.25rem;
    }

    &__event-date {
        @include body2;
        color: $light-grey;
    }

    &__event-time {
        @extend .drawer__event-date;
    }

    &__event-admission {
        @extend .drawer__event-date;
    }

    &__label-bold {
        font-weight: 600;
        margin-right: 0.25rem;
    }
}